.container {
    background-color: green
}

.table {
    background-color: aqua
}

.form {
    background-color: purple
}

table, tr, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}